:root {
    --primary-font: 'Open Sans', sans-serif;
    --primary-color: rgb(52,56,64);
    --text-gray: rgb(115,115,115);
    --black20: rgb(20,20,20);
    --white90: rgba(255,255,255,.9);
    --Mont: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 400;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    max-width: 1460px;
    width: 100%;
}
@media only screen and (max-width: 1459px) {
    .container {
        width: 100vw;
    }
}
.container-padding {
    padding: 0 30px;
}
@media only screen and (max-width: 1199px) {
    .container-padding {
        padding: 0 15px;
    }
}
/* @media only screen and (max-width: 699px) {
    .container-padding {
        padding: 0;
    }
} */
/* start header styles */
header {
    position: -webkit-sticky; /* to support Safari */
    position: sticky;
    top: 0;
    background: white;
    height: 70px;
    width: 100%;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.06);
    z-index: 99999999;
    transition: all .2s ease-in-out;
}
@media only screen and (max-width: 1199px) {
    header {
      height: 40px;
      padding: 10px 15px;
    }
}
.header {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 1199px) {
    .header {
      display: none;
    }
}
.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
@media only screen and (min-width: 1200px) {
    .header-mobile {
      display: none;
    }
}
.header-mobile img {
    width: 85px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-right: 30px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li {
    list-style-type: none;
    padding: 0 16px;
}
nav a,
.sign-in a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
}
/* end header styles */

/* start hero section styles */
.hero {
    background-image: url('../images/hero.jpg');
    display: flex;
    justify-content: center;
    width: 100%;
    height: 670px;
    background-repeat: no-repeat;
    background-size:cover;
    transition: all .1s ease-in-out;
}
@media only screen and (max-width: 1199px) {
    .hero {
        background-image: url('../images/hero-mobile.jpg');
    }
}
@media only screen and (max-width: 700px) {
    .hero {
        height: 550px;
    }
}
.hero-content {
    width: 100%;
    padding: 20px 90px;
}
@media only screen and (max-width: 850px) {
    .hero-content {
        padding: 20px 15px;
    }
}
@media only screen and (max-width: 700px) {
    .hero-content {
        padding: 100px 15px;
    }
}
@media only screen and (max-width: 520px) {
    .hero-content {
        padding: 70px 15px;
    }
}
@media only screen and (max-width: 450px) {
    .hero-content {
        padding: 70px 0;
        text-align: center;
    }
}
.hero-content img {
    width: 450px;
    margin-bottom: 20px;
    margin-left: -8px;
}
@media only screen and (max-width: 700px) {
    .hero-content img {
        width: 250px;
    }
}
.hero-content h1 {
    font-family: var(--Mont);
    font-size: 80px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    line-height: 1.1;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    margin-bottom: 10px;
}
@media only screen and (max-width: 700px) {
    .hero-content h1 {
        font-size: 32px;
    }
}
.hero-content h4 {
    font-family: var(--Mont);
    font-size: 26px;
    font-weight: 400;
    color: white;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    margin-bottom: 70px;
}
@media only screen and (max-width: 700px) {
    .hero-content h4 {
        font-size: 20px;
    }
}
.play-btn-container {
    width: 100%;
}
.hero-content a {
    font-size: 14px;
    font-weight: 600;
    background: white;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    letter-spacing: 1px;
    border-radius: 4px;
}
/* start hero section styles */

/* start row styles */
.row {
    display: flex;
    width: 100%;
    justify-content: center;
}
.row-column {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media only screen and (max-width: 1459px) {
    .row-column {
        width: 375px;
    }
}
@media only screen and (max-width: 1199px) {
    .row-column {
        width: 300px;
    }
}
.column1 {
    margin-right: 5px;
}
@media only screen and (max-width: 699px) {
    .column1 {
        width: calc(100vw - 30px);
        /* padding: 0 15px; */
    }
}
.column2 {
    margin-right: 5px;
    margin-left: 5px;
}
@media only screen and (max-width: 699px) {
    .column2 {
        display: none;
    }
}
.column3 {
    margin-left: 5px;
}
@media only screen and (max-width: 969px) {
    .column3 {
        display: none;
    }
}
.row-column img {
    width: 100%;
    object-fit: cover;
}
@media only screen and (max-width: 1199px) {
    .row-column img {
        height: 210px;
    }
}
@media only screen and (max-width: 699px) {
    .row-column img {
        height: 100%;
    }
}
.column-content-box {
    position: relative;
    height: 215px;
    margin: -40px 15px 0 15px;
    padding: 16px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
@media only screen and (max-width: 699px) {
    .column-content-box {
        width: 100%;
        margin: -40px 0 0 0;
    }
}
@media only screen and (max-width: 570px) {
    .column-content-box {
        height: 280px;
    }
}
@media only screen and (max-width: 440px) {
    .column-content-box {
        height: 340px;
    }
}
.column-content-box h4 {
    font-family: var(--Mont);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
@media only screen and (max-width: 899px) {
    .column-content-box h4 {
        font-size: 18px;
    }
}
.column-span {
    font-size: 12px;
    font-weight: 700;
    color: var(--text-gray);
}
.column-content-box p {
    margin-top: 20px;
    display: inline-block;
}
@media only screen and (max-width: 899px) {
    .column-content-box p {
        font-size: 14px;
    }
}
.column-content-box a {
    position: absolute;
    bottom: 16px;
    right: 16px;
    min-width: 133px;
    background: var(--black20);
    color: var(--white90);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}
@media only screen and (max-width: 1459px) {
    .show1460 {
        display: none;
    }
}
@media only screen and (max-width: 1199px) {
    .show1200 {
        display: none;
    }
}
.more {
    font-weight: 600;
}
@media only screen and (min-width: 1460px) {
    .more {
        display: none;
    }
}
/* end row styles */

/* start section title styles */
.stay, .eat, .see, .shop, .play {
    margin: 70px 0 30px 0;
}
@media only screen and (max-width: 969px) {
    .stay, .eat, .see, .shop, .play {
        margin-top: 35px;
    }
}
.section-container {
    width: 1460px;
}
@media only screen and (min-width: 1459px) {
    .section-container {
        width: 100%;
    }
}
.section-title-row {
    display: flex;
}
.section-title {
    padding-left: 150px;
    width: 400px;
}
@media only screen and (max-width: 1050px) {
    .section-title {
        padding-left: 15px;
    }
}
@media only screen and (max-width: 810px) {
    .section-title {
        width: 100%;
        margin-right: -300px;
    }
}
@media only screen and (max-width: 599px) {
    .section-title {
        padding-left: 0px;
    }
}
.section-title h1 {
    font-family: var(--Mont);
    font-size: 94px;
    font-weight: 200;
    text-transform: uppercase;
}
@media only screen and (max-width: 1199px) {
    .section-title h1 {
        font-size: 80px;
    }
}
@media only screen and (max-width: 899px) {
    .section-title h1 {
        font-size: 65px;
    }
}
@media only screen and (max-width: 810px) {
    .section-title h1 {
        font-size: 56px;
    }
}
@media only screen and (max-width: 360px) {
    .section-title h1 {
        font-size: 45px;
    }
}
.section-title p {
    font-size: 14px;
}
@media only screen and (min-width: 810px) {
    .section-title p {
        display: none;
    }
}
.section-title-info {
    padding-left: 80px;
    width: 770px;
}
@media only screen and (max-width: 899px) {
    .section-title-info {
        width: 720px;
        padding-left: 30px;
        padding-right: 20px;
    }
}
@media only screen and (max-width: 810px) {
    .section-title-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
@media only screen and (max-width: 600px) {
    .section-title-info {
        width: 100%;
        padding-left: 0;
    }
}
.section-title-info p {
    font-size: 16px;
    margin: 18px 0;
}
@media only screen and (max-width: 1199px) {
    .section-title-info p {
        width: 575px;
    }
}
@media only screen and (max-width: 899px) {
    .section-title-info p {
        font-size: 14px;
    }
}
@media only screen and (max-width: 810px) {
    .section-title-info p {
        display: none;
    }
}
.section-title-info p span{
    font-weight: 700;
}
.section-title-info a {
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: 1px;
}
@media only screen and (max-width: 899px) {
    .section-title-info a {
        font-size: 14px;
    }
}
@media only screen and (max-width: 360px) {
    .section-title-info a {
        font-size: 12px;
    }
}
/* end section styles */

/* start kick off, miracle mile section */
.kick-off {
    margin-top: 80px;
}
@media only screen and (max-width: 969px) {
    .kick-off {
        margin-top: 35px;
    }
}
.miracle {
    margin-top: 30px;
}
.miracle img {
    height: 240px;
    object-fit: cover;
}
/* end kick off, miracle mile section */

/* start hotel section */
.hotel { 
    position: relative;
    display: flex;
    justify-content: center;
}
.hotel-one {
    margin-right: 30px;
}
@media only screen and (max-width: 1000px) {
    .hotel-one {
        margin-right: 15px;
    }
}
@media only screen and (max-width: 900px) {
    .hotel-one {
        margin-right: 0;
    }
}
@media only screen and (max-width: 900px) {
    .hotel-one {
        width: 100%;
    }
}
.hotel-two {
    overflow-x: hidden;
}
@media only screen and (max-width: 900px) {
    .hotel-two {
        display: none;
    }
}
.vid-container {
    z-index: -1;
    object-fit: cover;
    background-size: cover;
    padding-left: 15px;
}
@media only screen and (max-width: 1000px) {
    .vid-container {
        padding-left: 0;
    }
}
.vid-container video {
    width: 1080px;
    z-index: -1;
}
@media only screen and (max-width: 1459px) {
    .vid-container video {
        width: 870px;
    }
}
@media only screen and (max-width: 1279px) {
    .vid-container video {
        width: 800px;
    }
}
@media only screen and (max-width: 900px) {
    .vid-container video {
        height: 100%;
        width: 100%;
    }
}
.flamingo-container {
    padding-left: 15px;
}
/* @media only screen and (max-width: 1000px) {
    .flamingo-container {
        padding-left: 0;
    }
} */
.flamingo-container img {
    height: 607.5px;
    width: 260px;
    object-fit: cover;
}
@media only screen and (max-width: 1459px) {
    .flamingo-container img {
        height: 490px;
        width: 260px;
    }
}
@media only screen and (max-width: 1279px) {
    .flamingo-container img {
        height: 450px;
        width: 65px;
    }
}
@media only screen and (max-width: 1000px) {
    .flamingo-container img {
        width: 25px;
    }
}
.hotel-content-container {
    position: absolute;
    display: flex;
    background: white;
    height: 175px;
    margin-top: -160px;
    z-index: 10;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.10), 0 10px 10px -5px rgba(0,0,0,.06);
}
@media only screen and (max-width: 1459px) {
    .hotel-content-container {
        width: 525px;
    }
}
@media only screen and (max-width: 1000px) {
    .hotel-content-container {
        display: none;
    }
}
.hotel-content-mobile {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 85px;
    padding: 15px;
    z-index: 10;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.10), 0 10px 10px -5px rgba(0,0,0,.06);
}
.hotel-content-mobile h6 {
    font-family: var(--Mont);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.hotel-content-mobile h2 {
    font-size: 26px !important;
}
.hotel-content-mobile p {
    font-size: 14px !important;
    font-weight: 600 !important;
}
@media only screen and (min-width: 1000px) {
    .hotel-content-mobile {
        display: none;
    }
}
.hotel-two-content-container {
    position: absolute;
}
.flamingo-content-container {
    display: flex;
    background: white;
    height: 175px;
    margin-top: -160px;
    z-index: 10;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.10), 0 10px 10px -5px rgba(0,0,0,.06);
    width: 275px;
    overflow-x: hidden;
}
@media only screen and (max-width: 1279px) {
    .flamingo-content-container {
        width: 80px;
    }
}
@media only screen and (max-width: 1000px) {
    .flamingo-content-container {
        display: none;
    }
}
.palace-logo {
    background: var(--black20);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.palace-logo img {
    width: 90px;
}
.flamingo-logo {
    background: rgb(230,3,123);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.hotel-content {
    position: relative;
    display: flex;
    padding: 16px;
}
.hotel-name-container {
    width: 415px;
}
@media only screen and (max-width: 1459px) {
    .hotel-name-container  {
        width: 260px;
    }
}
.hotel-name-container h4 {
    font-family: var(--Mont);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.hotel-name-container p {
    margin-top: 25px;
}
.hotel-name-container p .more {
    font-weight: 600;
    display: inline-block;
}
.book-now-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    min-width: 133px;
    background: var(--black20);
    color: var(--white90);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}
.hotel-price-container {
    width: 113px;
}
.hotel-price-container h2 {
    font-family: var(--Mont);
    font-size: 36px;
    text-align: right;
}
.hotel-price-container h2 span {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}
.hotel-price-container p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-gray);
    text-align: right;
}
.left-arrow, .right-arrow {
    position: absolute;
    top: 45%;
    border-radius: 50%;
    color: rgba(255,255,255,.7);
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.left-arrow {
    left: 2%;
}
.right-arrow {
    right: 2%;
}
.left-arrow:hover, 
.right-arrow:hover {
    background: rgba(255,255,255,.2);
}
.left-arrow img,
.right-arrow img {
    height: 100%;
    width: 100%;
}
/* end hotel section */

/* start gordon, forum section */
.gordon,
.forum {
    display: flex;
    justify-content: center;
}
.gordon-container,
.forum-container {
    position: relative;
    background: rgb(35,36,43);
    height: 420px;
    width: 100%;
    color: var(--white90);
    padding: 90px 0 90px 120px;
}
@media only screen and (max-width: 1459px) {
    .gordon-container,
    .forum-container {
        height: 320px;
        width: 1140px;
        padding: 32px;
    }
}
@media only screen and (max-width: 1279px) {
    .gordon-container,
    .forum-container {
        height: 330px;
        width: 930px;
    }
}
@media only screen and (max-width: 1000px) {
    .gordon-container,
    .forum-container {
        height: 395px;
        width: 736px;
    }
}
@media only screen and (max-width: 900px) {
    .gordon-container,
    .forum-container {
        height: 100%;
        width: 100%;
        padding: 12px;
        text-align: center;
    }
}
.gordon-container h3,
.forum-container h3 {
    font-family: var(--Mont);
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
@media only screen and (max-width: 1000px) {
    .gordon-container h3,
    .forum-container h3 {
        width: 288px;
    }
}
@media only screen and (max-width: 900px) {
    .gordon-container h3,
    .forum-container h3 {
        display: none;
    }
}
.gordon-container h6,
.forum-container h6 {
    font-family: var(--Mont);
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
}
@media only screen and (min-width: 900px) {
    .gordon-container h6,
    .forum-container h6 {
        display: none;
    }
}
.gordon-container p,
.forum-container p {
    width: 540px;
    margin: 25px 0 40px 0;
}
@media only screen and (max-width: 1459px) {
    .gordon-container p,
    .forum-container p {
        width: 490px;
    }
}
@media only screen and (max-width: 1279px) {
    .gordon-container p,
    .forum-container p {
        width: 390px;
    }
}
@media only screen and (max-width: 1000px) {
    .gordon-container p,
    .forum-container p {
        width: 288px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 900px) {
    .gordon-container p,
    .forum-container p {
        width: 100%;
    }
}
.gordon-container a,
.forum-container a {
    background: var(--white90);
    color: rgb(35,36,43);
    padding: 8px 18px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
.discover {
    padding: 8px 30px !important;
}
.gordon-img,
.forum-img {
    position: absolute;
    right: 35px;
    bottom: -20px;
    z-index: 999;
}
@media only screen and (max-width: 1459px) {
    .gordon-img,
    .forum-img {    
        height: 320px;
        width: 570px;
        right: 20px;
    }
}
@media only screen and (max-width: 1279px) {
    .gordon-img,
    .forum-img {    
        height: 260px;
        width: 464px;
    }
}
@media only screen and (max-width: 1279px) {
    .gordon-img,
    .forum-img {    
        height: 206px;
        width: 368px;
    }
}
@media only screen and (max-width: 900px) {
    .gordon-img,
    .forum-img {    
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        right: 0;
        bottom: 0;
    }
}
.gordon-img img,
.forum-img img {
    width: 100%;
    height: 100%
}
@media only screen and (max-width: 900px) {
    .gordon-img img,
    .forum-img img {    
        max-height: 386px;
        max-width: 688px;
    }
}
/* end gordon section */

/* start chef section */
.chef-nav {
    margin: 30px 0;
}
.chef-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chef-nav ul li {
    list-style-type: none;
    padding: 0 16px;
}
.chef-nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px;
    transition: border .1s ease-in-out;
}
.chef-nav ul li a.celebrity {
    border-bottom: 3px solid rgb(35,36,43);
}
.chef-nav ul li a:hover {
    border-bottom: 3px solid rgb(35,36,43);
}
.chef .column-content-box {
    height: 240px;
}
.food-genre {
    display: flex;
    justify-content: space-between;
}
.food-genre h5 {
    font-size: 16px;
    letter-spacing: 4px;
    font-weight: 600;
}
/* end chef section */

/* start adele section */
.adele { 
    position: relative;
    display: flex;
}
.adele-container {
    margin-right: 30px;
}
.adele-img-container {
    padding-left: 15px;
    z-index: -1;
}
.adele-img-container img {
    width: 1080px;
    object-fit: cover;
    z-index: -1;
}
.adele-content-container{
    position: absolute;
    display: flex;
    background: white;
    height: 190px;
    width: 685px;
    margin-top: -175px;
    z-index: 10;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.10), 0 10px 10px -5px rgba(0,0,0,.06);
}
.adele-content {
    position: relative;
    padding: 16px;
}
.adele-name-container {
    width: 653px;
}
.adele-name-container h4 {
    font-family: var(--Mont);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.adele-name-container span {
    font-size: 12px;
    font-weight: 700;
    color: var(--text-gray);
}
.adele-name-container p {
    margin-top: 15px;
}
.learn-more-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    min-width: 133px;
    background: var(--black20);
    color: var(--white90);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
}
.adele-two {
    overflow-x: hidden;
}
.adele-two-content-container {
    position: absolute;
}
.adele2-content-container {
    display: flex;
    background: white;
    height: 190px;
    margin-top: -175px;
    z-index: 10;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.10), 0 10px 10px -5px rgba(0,0,0,.06);
    width: 275px;
    overflow-x: hidden;
}
/* end adele section */

/* start wheel section */
.wheel {
    position: relative;
}
.wheel-nav {
    margin: 30px 0;
}
.wheel-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wheel-nav ul li {
    list-style-type: none;
    padding: 0 16px;
}
.wheel-nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 5px;
    transition: border .1s ease-in-out;
}
.wheel-nav ul li a.celebrity {
    border-bottom: 3px solid rgb(35,36,43);
}
.wheel-nav ul li a:hover {
    border-bottom: 3px solid rgb(35,36,43);
}
.wheel-main-container {
    display: flex;
    position: relative;
}
.wheel-img {
    height: 608px;
}
/* end wheel section */

/* start exclusive section */
.exclusive {
    display: flex;
    justify-content: center;
    margin-top: 240px;
    background: rgb(241,241,246);
    height: 410px;
    width: 100%;
}
.exclusive-column {
    width: 466.667px;
    margin-top: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exclusive-img {
    width: 287px;
    height: 160px;
}
.exclusive-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.exclusive-column h4 {
    font-family: var(--Mont);
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0 20px 0;
}
.exclusive-column p {
    text-align: center;
    height: 40px;
    margin-bottom: 25px;
}
.exclusive-column a {
    background: var(--black20);
    color: var(--white90);
    padding: 8px 18px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}
/* end exclusive section */

/* start footer styles */
footer {
    width: 1460px;
}
.footer-top {
    display: flex;
    width: 100%;
    height: 250px;
    margin: 100px 0 70px 0;
}
.caesar-logo-footer {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caesar-logo-footer img {
    width: 100%;
}
.casino-logos-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);;
    grid-template-rows: repeat(4); 
    width: 80%;
    height: 100%;
    padding-left: 50px;
}
.casino-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.casino-logo-container img {
    width: 100%;
    max-width: 90px;
    height: 50px;

}
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}
.footer-links {
    display: flex;
}
.footer-links a {
    font-size: 12px;
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.footer-links a:hover {
    text-decoration: underline;
}
.dont-sell {
    display: flex;
    margin: 15px 0 20px 0;
}
.dont-sell p {
    font-size: 12px;
}
.dont-sell a {
    font-size: 12px;
    margin-left: 5px;
    color: var(--primary-color);
    text-decoration: none;
}
.dont-sell a:hover {
    text-decoration: underline;
}
.footer-bottom p {
    font-size: 12px;
}
/* end footer styles */